{% extends "nav.html"%}
    {% block head %}
        {{ super() }}
    {% endblock %}
<body>
{% block nav %}
    {{ super() }}
{% endblock %}
{% block body %}
{{ super() }}
    <!--只有登录才会显示如下页面 -->
    {% if role %}
<div class="row col-xs-12 text-center">
    <input class="form-control mb-1" id="myInput" type="text" placeholder="搜索">
    <table class="table">
        <thead>
        <th>病人id</th>
        <th>病人姓名</th>
        <th>检测日期</th>
        <th>操作</th>
        </thead>
        <tbody id="myTable">
        {% for nucleic_report in nucleic_reports %}
            <tr>
            <td>{{ nucleic_report['patient_id'] }}</td>
            <td>{{ nucleic_report['name'] }}</td>
            <td>{{ nucleic_report['test_date'] }}</td>
            <td><a class="btn btn-default" href="{{ url_for('ward_nurse.nucleic_test',patient_id=nucleic_report['patient_id'],test_date=nucleic_report['test_date']) }}">进行登记</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
    <script>
            $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                let value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
</script>
{% endblock %}
</body>
</html>