{% extends "nav.html"%}
    {% block head %}
        {{ super() }}
    {% endblock %}
<body>
{% block nav %}
    {{ super() }}
{% endblock %}
{% block body %}
{{ super() }}
    <div class="row col-xs-12 text-center" >
    <h1>报告该病人的病情</h1>
    <form role="form" method="post" action="/ward_nurse/commit_report">
        <div class="form-group">
            <label for="patient_id">病人id</label>
            <input  name="patient_id" type="text" readonly  value={{ patient_id }} >
        </div>
        <div class="form-group">
            <label for="temperature">病人体温</label>
            <input  name="temperature" type="text" >
        </div>
        <div class="form-group">
            <label for="life_status">病人生命状态</label>
            <div class="radio">
                <label>
                    <input type="radio" name="life_status" id="optionsRadios1" value="alive">在院治疗
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="life_status" id="optionsRadios2" value="dead">死亡
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="symptom">病人症状</label>
            <input  name="symptom" type="text" >
        </div>
        <div class="form-group">
            <label for="test_date">报告日期</label>
            <input  name="test_date" type="text" ></div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="提交">
        </div>
    </form>
    </div>
{% endblock %}