
{% extends "nav.html"%}
    {% block head %}
        {{ super() }}
    {% endblock %}
<body>
{% block nav %}
    {{ super() }}
{% endblock %}
{% block body %}
{{ super() }}
    <!--只有登录才会显示如下页面 -->
    {% if role=='doctor' %}
<div class="row col-xs-12 text-center">
            <table class="table">
                <thead>
                <th>姓名</th>
                <th>性别</th>
                <th>住址</th>
                <th>体温</th>
                <th>生命状况</th>
                <th>病情状况</th>
                <th>症状</th>
                <th>是否可以出院</th>
                <th>操作</th>
                </thead>
                <tbody>
                {% for patient in patients %}
                <tr>
                    <td>{{patient['name']}}</td>
                    <td>{{patient['gender']}}</td>
                    <td>{{patient['age']}}</td>
                    <td>{{patient['address']}}</td>
                    <td>{{patient['temperature']}}</td>
                    <td>{{ patient['life_status'] }}</td>
                    <td>{{ patient['state_of_illness'] }}</td>
                    <td>{% for symptom in patient['symptoms'] %}
                        {{ symptom }}&nbsp;
                        {% end for %}
                        </td>
                    <td>
                    {% if role=='doctor' %}
                        <button type="button" class="btn btn btn-default" id="nucleic_test">进行核酸检测</button>
                        {% if patient['is_discharged']==True %}
                        <button type="button" class="btn btn-default" id="discharge">准许出院</button>
                        {% end_if %}
                    {% end if %}
                    {% elif role=='nurse' %}
                    <button type="button" class="btn btn-default" id="nurse_report">填写病人报告单</button>
                    {% end if %}
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
    </div>
    {% endif %}
{% endblock %}
</body>
</html>